.doc-preview {
    -webkit-filter: blur(0.5px);
    -moz-filter: blur(0.5px);
    -o-filter: blur(0.5px);
    -ms-filter: blur(0.5px);
    /* Safari 3.1+ */
    -webkit-user-select: none;
    /* Firefox 2+ */
    -moz-user-select: none;
    /* IE 10+ */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
    filter: blur(0.5px);
    margin: 30px 0px;
    width: 255px;
    height: 330px;
    background-color: white;

    * {
        color: black;
    }
}

.header {
    margin: 5px 10px;

    span {
        color: grey;
        font-size: 8px;
    }
}

.title {
    font-family: 'Palatino';
    position: relative;
    font-size: 20px;
    margin-top: 30px;
}

.chapter-heading {
    font-family: 'Palatino';
    margin-left: 35px;
}

.book-intro {
    font-family: 'Palatino';
    font-size: 5px;
    margin: 5px 10px;
}

.text-body {
    max-height: 200px;
    margin: 0px 15px;
    font-size: 5px;
    text-align: justify;
    column-count: 2;
    column-gap: 30px;
    column-rule-style: solid;
    column-rule-color: black;
    column-rule-width: 2px;

    div {
        font-family: 'Palatino';
        margin-bottom: 5px;
    }

    border-bottom: 1px;
    border-bottom-style: solid;
}

.first-letter {
    font-size: 10px;
}