@import '../variables';

.dropdown-wrapper {
    /* Safari 3.1+ */
    -webkit-user-select: none;
    /* Firefox 2+ */
    -moz-user-select: none;
    /* IE 10+ */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

.dropdown-header {
    display: flex;
    align-items: center;
    min-height: 64px;
}

@media screen and (max-width: 992px) {
    .dropdown-list {
        right: 30px;
    }
}

@media screen and (max-width: 600px) {
    .dropdown-header {
        min-height: 56px;
    }

    .dropdown-list {
        right: 20px;
    }
}

.dropdown-list {
    flex-direction: column;
    position: absolute;
    top: 50px;
    min-width: 100px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

.dropdown-item {
    padding-left: 5px;
    border-radius: 5px;
    color: $secondary;

    &:hover {
        color: $text;
        background-color: $secondary;
    }
}

.language-icon {
    margin-right: 5px;
}